.top-login-btn{
    float: right;
    margin-top: 20px;
}

.menu-container{
    margin-top:10px;
    text-align: right;
    font-size: 20px;
    width:90%;
    padding:17px 15px 13px;

}

.container{
    background-color: #b6b6b6;
    width:100%;
}