<div class="reg-block-customer">
    <div class="reg-block-header">
        <h2>登 录</h2>
    </div>
    <div>
        <input type="text" placeholder="请输入邮箱地址" ng-model="email" required>
    </div>
    <div>
        <input type="password" placeholder="请输入密码" ng-model="password">
    </div>
    <div align="right">
        <a href="#">忘记密码?</a>
    </div>
    <div align="center">
        <button type="button" ng-click="onLogin()">登录</button>
    </div>
    <div align="left">
        还没有账号?<a href="#">立即注册</a>
    </div>
</div>